<div class="container">
    <div class="row">
        <div class="col col-sm-8">
            <h1>{{title}}</h1>
            <div class="articles"></div>
        </div>
        <div class="col col-sm-4">
            <div class="notes"></div>
        </div>
    </div>
</div>